@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.Hot-Title{
    @apply text-2xl font-bold;
    width: 300px;
    position: relative;
    @apply py-2;
    text-transform: uppercase;
}
.Hot-Title::after{
    @apply absolute;
    @apply bottom-0;
    @apply left-0;
    @apply w-full;
    @apply h-1;
    @apply bg-red-600;
    content: "";
    width: 20%;
}
.summer{
font-family: "Pacifico", cursive;
font-weight: 400;
    font-style: normal;
}